html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Code TV

        p
          form(action='/submit',method='post')
            label(for='repo') http://github.com/
            input(id="repo", type="text", placeholder="GitHub repository", name='repo')
            input(type='submit',value='Animate!')